<mat-toolbar color="primary">
    <!-- TODO:CREANDO UNA FILA  -->
    <mat-toolbar-row>
        <!-- TODO: ROW PARA QUE ESTEEN DISTANCIADO LOS BOTONES -->
        <div class="row between-xs middle-xs header-row ">
            <nav>
                <img src="assets/Image/logo/logo.png" alt="" class="logo">

                <a mat-raised-button routerLink="/Home" routerLinkActive="active" class="spacebutton">Home
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </a>

                <a mat-raised-button routerLink="/Contact" routerLinkActive="active" class="spacebutton">Contact</a>

                <a mat-raised-button routerLink="/Products" routerLinkActive="active" class="spacebutton">Productos </a>


                <a mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn" routerLink="/Products/Cart">     Carrito   <span class="material-icons">  shopping_cart </span>        </a>

                <button mat-raised-button [matMenuTriggerFor]="menu" color="accent" class="spacebutton">Categorias</button>
                <mat-menu #menu="matMenu">

                    <button mat-menu-item>Pibe</button>
                    <button mat-menu-item>Sandalias</button>
                    <button mat-menu-item>botas</button>
                </mat-menu>

            </nav>
            <a mat-raised-button routerLinkActive="active" class="spacebutton"> <span class="material-icons">                account_circle                </span> </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>