nav>a {
    padding: 5px;
    text-decoration: none;
}

nav>a.active {
    background-color: #CE3EC8;
    margin: 10px;
}

nav {
    margin: 10px;
}

.colornav {
    background-color: #DF9F0A;
}

.header-row {
    width: 100%;
}

.spacebutton {
    margin: 5px;
}

mat-toolbar {
    /* position: fixed; */
}