/* TODO:IMPLEMENTANDO CARD MATERIAL ANGULAR */


/*:host{
    margin: 2px;
    border :1px solid    black;
    border-radius: 5px;
    /* el ancho y el largo sea dinamico de acuerdo al elemento 
    display: block;
}
*/

.crop-image {
    height: 300px;
    width: 262px;
    overflow: hidden;
    position: relative;
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: solid #6A5ACD 1px;
}


/* img { */


/* height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
    position: absolute; */


/* top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); */


/* max-width: 100%; */


/* border: solid; */


/* } */

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}

mat-card {
    background-color: #483D8B;
}